name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore ChatService/src/ChatService.Api/ChatService.Api.csproj

    - name: Build
      run: dotnet build ChatService/src/ChatService.Api/ChatService.Api.csproj --no-restore

    - name: Publish
      run: dotnet publish ChatService/src/ChatService.Api/ChatService.Api.csproj --configuration Release --output ./publish

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: published-app
        path: ./publish

    - name: Test
      run: dotnet test ChatService/tests/ChatService.Tests/ChatService.Tests.csproj --no-build --verbosity normal